@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('https://schoutnm.github.io/icons/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-regular';
  src:
    url('https://schoutnm.github.io/fonts/Roboto-Regular.ttf')} ;
  h2{
	font-family: roboto-regular;
}
